/*

    Here you can find general instructions for the website. Really only commands that don't style the website but commands that appear again and again, in every webproject

*/

html {
  box-sizing: border-box;
  font-size: 62.5%;
  -ms-overflow-style: scrollbar;
  -webkit-text-size-adjust: 100%; // for safari landscape orientation bug
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: $black;
  color: $white;
  font-family: $font-family-regular;
  font-size: $f-standard;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

/*
  Column set to relative
*/
[class*="col-"] {
  position: relative;
}

/*
  Section as flex
  (needed for wordpress cms)
*/
section {
  display: flex;
}
