/*

    All variables are created in this file. A small preselection is already available

*/

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//
// Colors
//
$white: #ffffff;
$black: #1A1A1A;

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//
// Font families
//
$font-family-regular: 'Roboto';
$font-family-bold: 'Roboto Bold';

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//
// Font sizes
//
$f-small: 1.2rem; //12px
$f-medium: 1.4rem; //14px
$f-standard: 1.6rem; //16px
$f-tall: 1.8rem; //18px
$f-taller: 2.1rem; //21px
$f-big: 2.4rem; //24px
$f-bigger: 3.6rem; //36px

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//
// Modified bootstrap grid system
//

// General Grid settings
$grid-columns: 12;
$grid-gutter-width: 30px;
$spacer: $grid-gutter-width;

// Breakingpoints for Gridsystem
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Mobile Breaking Point
$mobile: $lg;

/*
  Use media queries like this
  @media (max-width: $md - 1) {}
  @media (min-width: $md) {}
*/

// Page width for Breakingpoints
$page-width-xs: $xs;
$page-width-sm: $md;
$page-width-md: $lg - $spacer*2;
$page-width-lg: $xl - $spacer*2;
$page-width-xl: 1440px - $spacer*2;